/* =========================================================
   ACCORDION CONTAINER
========================================================= */
.accordion {
    -fx-background-color: transparent;
    -fx-spacing: 10;
}

/* =========================================================
   TITLED PANE
========================================================= */
.accordion .titled-pane {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

/* =========================================================
   HEADER AREA
========================================================= */
.accordion .titled-pane > .title {
    -fx-background-color: transparent;
    -fx-background-radius: 10;
    -fx-border-color: -color-black-muted;
    -fx-border-radius: 10;
    -fx-border-width: 3;
    -fx-padding: 10;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

/* =========================================================
   HEADER HOVER
========================================================= */
.accordion .titled-pane > .title:hover {
    -fx-background-color: -color-white;
    -fx-cursor: hand;
}

/* =========================================================
   EXPANDED HEADER
========================================================= */
.accordion .titled-pane:expanded > .title {
    -fx-background-color: -color-white;
}

/* =========================================================
   CONTENT AREA
========================================================= */
.accordion .titled-pane > .content {
    -fx-background-color: transparent;
    -fx-border-color: -color-black-muted;
    -fx-border-radius: 10;
    -fx-border-width: 3;
    -fx-padding: 10;
}

/* =========================================================
   REMOVE DEFAULT FOCUS RING
========================================================= */
.accordion .titled-pane:focused {
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

/* =========================================================
   ARROW
========================================================= */
.accordion .arrow {
    -fx-background-color: -color-black;
    -fx-padding: 7;
}