.nav{
	-fx-background-color: #b9b5af;	
}

.button{
	-fx-background-color: #b9b5af;	
}

.my-hbox:hover .button{
    -fx-background-color: #e0e0e0;
}

.my-hbox:hover{
    -fx-background-color: #e0e0e0;
}
