/* =====================================================
   FORM CONTAINER
   -----------------------------------------------------
   Base layout for popup forms (spacing, padding).
===================================================== */
.form-container {
    -fx-background-color: -color-white;
    /* -fx-padding: 15 0 0 0; */
}


/* =====================================================
   FORM TITLE
   -----------------------------------------------------
   Used for headings like "Add Transaction"
===================================================== */
.form-title {
    -fx-font: 36px "Arial Black";
}

/* =====================================================
   FORM LABELS
   -----------------------------------------------------
   Labels inside forms (field names)
===================================================== */
.form-container .label {
    -fx-font-size: 24px;
}

/* =====================================================
   FORM INPUTS
   -----------------------------------------------------
   Form-specific input sizing and spacing.
===================================================== */
.form-container .text-field,
.form-container .choice-box,
.form-container .date-picker {
	-fx-pref-height: 30px;
}


