/* =====================================================
   FORM CONTAINER
   -----------------------------------------------------
   Base layout for popup forms (spacing, padding).
===================================================== */
.form-container {
    -fx-background-color: -color-white;
    /* -fx-padding: 15 0 0 0; */
}


/* =====================================================
   FORM TITLE
   -----------------------------------------------------
   Used for headings like "Add Transaction"
===================================================== */
.form-title {
    -fx-font: 36px "Arial Black";
}

/* =====================================================
   FORM LABELS
   -----------------------------------------------------
   Labels inside forms (field names)
===================================================== */
.form-label {
    -fx-font-weight: 600;
}