.login {
	-fx-background-color: -color-accent;
}

.login .text-field {
	-fx-background-color: transparent;
    -fx-border-color: -white-focused;
    -fx-border-radius: 5;
    -fx-border-width: 0 0 2 0;
}

.login .text-field:focused {	/* Focus state (active input field) */
    -fx-border-color: -color-black-muted;
}

.login .button {
	-fx-border-color: -white-focused;
	-fx-border-width: 4;
}

.login .button:hover {
	-fx-background-color: -white-focused;
	-fx-background-radius: 5;
	-fx-text-fill: black;
	-fx-cursor: hand;
}



/*
.hyperlink:visited {
	
}
	
.login-container (LAYOUT STRUCTURE) {
	-fx-alignment: center;
    -fx-spacing: 15;
}

.login-card (LOGN CARD STYLING, TIES INTO .CARD SYSTEM) {
    -fx-padding: 30;
    -fx-background-radius: 12;
}

 */