.root{
	-fx-background-color: #e0e3e7; /* App background */
	
    /* Primary colors */
    -color-white: #e0e3e7;
    -color-white-muted: #c0c7d3;
    -white-focused: #d2d7e0;
    -color-black: #495057;
    -color-black-muted: #6b7280;
    -color-accent: #adbfce; /* #4f6170 */
    
    /* Transaction highlight backgrounds & Semantic colors */
    -color-green: #dbe7d0;
    -color-red: #f6dada;
}

.view-pane{
	-fx-border-color: -color-black-muted;
    -fx-border-radius: 5;
    -fx-border-width: 4;
}

.view-pane .button{
	-fx-background-color: transparent;
    -fx-border-color: -color-black;
    -fx-border-radius: 5;
    -fx-border-width: 3;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-padding: 10px;
}

.my-pane {
	-fx-background-color: -color-accent;
}

.my-pane .button{
	-fx-background-color: transparent;
    -fx-border-color: -white-focused;
    -fx-border-radius: 5;
    -fx-border-width: 5;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.my-pane .button:hover{
	-fx-background-color: -white-focused;
    -fx-background-radius: 5;
	-fx-cursor: hand;
}

.my-pane .button:focused{
	-fx-background-color: -white-focused;
    -fx-background-radius: 5;
  	-fx-cursor: hand;
}




