
.table-view .column-header {
    -fx-pref-height: 50px;    
}

.table-view .column-header .label {
    -fx-wrap-text: true;
    -fx-text-alignment: CENTER; /* Optional: aligns text within the header */
    -fx-font-weight: bold;
}